h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Marco normativo del sistema de seguridad social en salud: (SGSSS): Sistema de Afiliación Transaccional (SAT).', 'main.html#page/presentacion/')
                    +navTemaItem('2', 'Entes del sistema de salud.', 'main.html#page/cadena_de_custodia/')
                    +navTemaItem('3', 'Mecanismos y sistemas de financiación del sector salud.', 'main.html#page/protocolos_de_laboratorio/')
                    +navTemaItem('4', 'Sistema general de participaciones.', 'main.html#page/protocolos_de_laboratorio/')
                    +navTemaItem('5', 'Rentas cedidas, impuestos y regalías.', 'main.html#page/protocolos_de_laboratorio/')
                    +navTemaItem('6', 'Cuotas de recuperación poblaciones especiales, criterios de priorización y entes certificadores.', 'main.html#page/protocolos_de_laboratorio/')
                    +navTemaItem('7', 'Unidad de Pago por Captación – UPC.', 'main.html#page/protocolos_de_laboratorio/')
                    +navTemaItem('8', 'Tipos de aseguramiento: - régimen contributivo, - régimen subsidiado, - régimen especial - régimen de excepción.', 'main.html#page/protocolos_de_laboratorio/')
                    +navTemaItem('9', 'Afiliación al Régimen contributivo y al Régimen subsidiado Subsidiado.', 'main.html#page/protocolos_de_laboratorio/')
                    +navTemaItem('10', 'Tipos de usuarios: de Beneficiarios y Cotizantes.', 'main.html#page/protocolos_de_laboratorio/')
                    +navTemaItem('11', 'Afiliación de población especial al SGSSS: INPEC, ROM, Listados censales y otros (Ley 352 de 1997 régimen de excepción, Decreto 806 de 1998, Decreto 1047 de 2014).', 'main.html#page/protocolos_de_laboratorio/')
                    +navTemaItem('12', 'Multiafiliación.', 'main.html#page/protocolos_de_laboratorio/')
                    +navTemaItem('13', 'Carta de derechos de los usuarios. (Resoluciones 1817 de 2009).', 'main.html#page/protocolos_de_laboratorio/')
                    +navTemaItem('14', 'Instrumentos para garantizar la continuidad del aseguramiento ante los cambios en la condición económica de los afiliados.', 'main.html#page/protocolos_de_laboratorio/')
                    +navTemaItem('15', 'Sistema de identificación de potenciales beneficiarios: Encuesta SISBÉN.', 'main.html#page/protocolos_de_laboratorio/')
                    +navTemaItem('16', 'Prestaciones económicas y cotizaciones al SGSSS.', 'main.html#page/protocolos_de_laboratorio/')
