h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 230101003 - 1. Reconocer condiciones socio-económicas de la población para afiliarla al sistema general de seguridad social en salud según políticas institucionales y normativa.
            li 
                span 230101003 - 2. Asesorar al usuario sobre el acceso a los beneficios del aseguramiento teniendo en cuenta normativa y políticas institucionales.