h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Marco normativo del sistema de seguridad social en salud: (SGSSS): Sistema de Afiliación Transaccional (SAT).', 'main.html#page/presentacion/')
                    +navTemaItem('2', 'Entes del sistema de salud.', 'main.html#page/cadena_de_custodia/')
                    +navTemaItem('3', 'Mecanismos y sistemas de financiación del sector salud.', 'main.html#page/protocolos_de_laboratorio/')
                    +navTemaItem('4', 'Sistema general de participaciones.', 'main.html#page/Sistema_general_de_participaciones/')
                    +navTemaItem('5', 'Rentas cedidas, impuestos y regalías.', 'main.html#page/Rentas_cedidas_impuestos_y_regalias/')
                    +navTemaItem('6', 'Cuotas de recuperación poblaciones especiales, criterios de priorización y entes certificadores.', 'main.html#page/Cuotas_de_recuperacion_poblaciones_especiales_criterios_de_priorizacion_y_entes_certificadores/')
                    +navTemaItem('7', 'Unidad de Pago por Captación – UPC.', 'main.html#page/Unidad_de_Pago_por_Captacion_UPC/')
                    +navTemaItem('8', 'Tipos de aseguramiento: - régimen contributivo, - régimen subsidiado, - régimen especial - régimen de excepción.', 'main.html#page/Tipos_de_aseguramiento_regimen_contributivo_regimen_subsidiado_regimen_especial_egimen_de_excepcion/')
                    +navTemaItem('9', 'Afiliación al Régimen contributivo y al Régimen subsidiado Subsidiado.', 'main.html#page/Afiliacion_al_Regimen_contributivo_y_al_Regimen_subsidiado/')
                    +navTemaItem('10', 'Tipos de usuarios: de Beneficiarios y Cotizantes.', 'main.html#page/Tipos_de_usuarios_de_Beneficiarios_y_Cotizantes/')
                    +navTemaItem('11', 'Afiliación de población especial al SGSSS: INPEC, ROM, Listados censales y otros (Ley 352 de 1997 régimen de excepción, Decreto 806 de 1998, Decreto 1047 de 2014).', 'main.html#page/Afiliacion_de_poblacion_especial_al_SGSSS/')
                    +navTemaItem('12', 'Multiafiliación.', 'main.html#page/Multiafiliacion/')
                    +navTemaItem('13', 'Carta de derechos de los usuarios. (Resoluciones 1817 de 2009).', 'main.html#page/Carta_de_derechos_de_los_usuarios/')
                    +navTemaItem('14', 'Instrumentos para garantizar la continuidad del aseguramiento ante los cambios en la condición económica de los afiliados.', 'main.html#page/Instrumentos_para_garantizar_la_continuidad_del_aseguramiento_ante_los_cambios_en_la_condicion_economica_de_los_afiliados/')
                    +navTemaItem('15', 'Sistema de identificación de potenciales beneficiarios: Encuesta SISBÉN.', 'main.html#page/Sistema_de_identificacion_de_potenciales_beneficiarios_Encuesta_SISBEN/')
                    +navTemaItem('16', 'Prestaciones económicas y cotizaciones al SGSSS.', 'main.html#page/Prestaciones_economicas_y_cotizaciones_al_SGSSS/')
