.container
    .header-ecored
        h1 10. Tipos de usuarios: beneficiarios y cotizantes
    .jumbotron.bg-white
        .sub-ecored.mt-5#11
            img.img-a(src="assets/images/pages/10-tema/img1.png").img-fluid
        .row.justify-content-center.align-items-center.mt-5             
            .col-8
                p.text-center Los usuarios en nuestro Sistema General de Seguridad Social en Salud (SGSSS) pueden pertenecer al régimen subsidiado o contributivo. A su vez pueden ser cotizantes o beneficiario.

        .row.justify-content-center.my-5.mt-3           
            .col-12.col-md-8
                .card-media.color-2
                    img.img-a(src="assets/images/pages/10-tema/img2.png").img-fluid                  
                    h2.text-center.mt-5 Cotizantes
                    .quote__bar__hr
                    p.card__copy.mt-3 Son las personas que pagan un valor económico por estar afiliados a una EPS, este valor es descontado mensualmente de su salario. 
                    p.card__copy.mt-3 En el caso de los trabajadores independientes se establece un ingreso base de cotización sobre el cual se realizan los aportes mensuales. 
                    p.card__copy.mt-3 De este dinero se descontarán los aportes para el SGSSS) sobre el 40 % o 70 % que corresponde al IBC, según corresponda al tipo de contrato del cotizante, estos porcentajes están   predeterminado por el ente regulador respectivo.
        .row.justify-content-center.my-5.mt-3           
            .col-12.col-md-8
                .card-media.card-color-5
                    .card-media__body                 
                        img.img-a(src="assets/images/pages/10-tema/img3.png").img-fluid
                        h3.text-center.mt-5 Beneficiarios
                        .quote__bar__hr
                        p.card__copy.mt-3 Son las personas que hacen parte del grupo familiar del cotizante. El sistema de seguridad social protege no solo a la persona que paga las cotizaciones, sino a la familia.
                        p.card__copy.mt-3 ¿A cuáles miembros de la familia se puede afiliar en calidad de beneficiarios en el régimen contributivo?
                        p.card__copy.mt-3 − Al (o a la) cónyuge, compañero o compañera permanente del afiliado, independientemente de que sean del mismo sexo; los hijos menores de 18 años de cualquiera de los cónyuges (incluyendo los adoptivos), que hagan parte del núcleo familiar y que dependan económicamente de este; los hijos de cualquier edad con incapacidad permanente o aquellos que tengan menos de 25 años, que sean estudiantes con dedicación exclusiva y dependan económicamente del afiliado.
                        p.card__copy.mt-3 − A falta de cónyuge, compañero o compañera permanente, e hijos con derecho, la cobertura familiar puede extenderse a los padres del afiliado que no sean pensionados y que dependan económicamente de este.
                        p.card__copy.mt-3 Se puede afiliar a otras personas distintas a las anteriores siempre y cuando dependan económicamente del afiliado, tengan un parentesco hasta el tercer grado de consanguinidad (padres, hijos, abuelos, nietos, hermanos, bisabuelos, biznietos, tíos y sobrinos) o sean menores de 12 años si no son consanguíneos. Para esto se debe pagar por cada beneficiario un aporte adicional (la denominada Unidad de Pago por Capitación –UPC– que varía según la edad, el sexo y el lugar de residencia de estos) y mantenerlos afiliados por lo menos un año.
                        p.card__copy.mt-3 No se pueden incluir como afiliados adicionales a personas que tengan capacidad de pago o aquellas que se encuentren afiliados al régimen subsidiado o a un régimen de excepción, salvo que demuestren su desafiliación a dicho Sistema. (Ministerio de salud , 2014)

        .row.justify-content-center.my-2.mt-5   
            .col-12.col-md-8.mt-5 
                .card-media.color-2
                    .card-media__body                 
                        figure.card__figure2
                            img(src="assets/images/pages/2-tema/img8.svg").img-fluid
                        p.card__copy.mt-5  Respetado aprendiz, espero que este documento sea de gran utilidad, para que pueda apropiar de una manera clara y eficaz toda la terminología y procesos relacionados con la afiliación de las personas y novedades que se les presente a los usuarios del SGSSS según Decreto 2353 de 2015, para garantizar el derecho fundamental a la salud y la continuidad de la atención.

        .row.justify-content-center.align-items-center.mt-3
            .col-4
                section
                    a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VP/DOA/RL/cartillas-de-aseguramiento-al-sistema-general-de-seguridad-social-en-salud.pdf" target="_blank").media-link.card-color-5          
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h4 Aseguramiento al Sistema General de Seguridad Social en Salud
            .col-4
                section
                    a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/COM/abece-afiliacion-salud.pdf" target="_blank").media-link.card-color-5          
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h4 ABECÉ de la afiliación en salud Decreto 2353 de 2015                            
        .row.justify-content-center.align-items-center.mt-5
            .col-8
                p.text-center.mt-5 Querido aprendiz, en el siguiente enlace se presenta un video en donde se le dará respuesta a la pregunta ¿cuál es la diferencia entre beneficiario y cotizante?

        .card.mt-5
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/X9_2tMDN6zY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
                 p #[strong  Diferencia entre beneficiario y cotizante] | Sabe usted ¿cuál es la diferencia entre beneficiario y cotizante?, #DescubraPalabras con la Supersalud.
