.container
    .header-ecored
        h1 11. Afiliación de población especial al SGSSS: INPEC, ROM, listados censales y otros (Ley 352 de 1997 régimen de excepción, Decreto 806 de 1998, Decreto 1047 de 2014)
    .jumbotron.bg-white
        .sub-ecored.mt-5#111
            h2 11.1 Población especial 
        img.img-a(src="assets/images/pages/11-tema/img1.png").img-fluid      
        .row.justify-content-center.align-items-center.mt-5  
            .col-8
                p Son las personas que, por sus condiciones de vulnerabilidad, marginalidad, discriminación o en situación de debilidad manifiesta y según lo dispuesto por la ley deben pertenecer al régimen subsidiado. Decreto 780 de 2016. Para ser beneficiarios del régimen subsidiado estas poblaciones se identifican mediante el listado censal y no por la encuesta SISBÉN. El listado censal es elaborado por la entidad competente responsable de cada población.
        .sub-ecored.mt-5#112
            h2 11.2 ¿Qué es un listado censal? 
        img.img-a(src="assets/images/pages/11-tema/img2.png").img-fluid      
        .row.justify-content-center.align-items-center.mt-5  
            .col-8
                p Este instrumento de caracterización nos permite centrar a la población especial. Este documento contiene los datos de identificación mínimos requeridos para realizar el proceso de afiliación ante la Entidad Promotora de Salud - EPS. Esta información es consolidada y proporcionada por cada EPS de acuerdo con las normas que rigen esta materia. Resolución 974 de 2016.
        .row.justify-content-center.align-items-center.mt-4  
            .col-5
                section
                    a(href="http://www.saludcapital.gov.co/DASEG/Paginas/Atencionpoblacionesespeciales.aspx" target="_blank").media-link.card-color-5           
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h4 página de la Secretaria de Salud
        .sub-ecored.mt-5#113
            h2 11.3 ¿Cuáles son las poblaciones especiales?
        .row.justify-content-center.align-items-center.mt-5 
            .col-8
                ul.ul1
                    li 
                        p Población infantil abandonada a cargo del Instituto Colombiano de Bienestar Familiar.
                    .hrbp.mt-4                
                    li
                        p.mt-4 Población infantil perteneciente al Sistema de Responsabilidad Penal para Adolescentes a cargo del Instituto Colombiano de Bienestar Familiar.
                    .hrbp.mt-4                
                    li
                        p.mt-4 Menores desvinculados del conflicto armado.
                    .hrbp.mt-4                
                    li
                        p.mt-4 Población infantil vulnerable bajo protección en instituciones diferentes al ICBF.       
                    .hrbp.mt-4                
                    li
                        p.mt-4 Comunidades indígenas.
                    .hrbp.mt-4                
                    li
                        p.mt-4 Población desmovilizada.
                    .hrbp.mt-4              
                    li
                        p.mt-4 Adultos mayores en centros de protección.
                    .hrbp.mt-4                
                    li
                        p.mt-4 Población Rom.
                    .hrbp.mt-4                
                    li
                        p.mt-4 Personas incluidas en el programa de protección a testigos víctimas del conflicto armado.       
                    .hrbp.mt-4                
                    li
                        p.mt-4 Población privada de la libertad a cargo de las entidades territoriales.
                    .hrbp.mt-4                
                    li
                        p.mt-4 Población habitante de la calle.
                    .hrbp.mt-4        
                    li
                        p.mt-4 Personas que dejen de ser madres comunitarias o madres sustitutas y sean beneficiarias del subsidio de la subcuenta de subsistencia del Fondo de Solidaridad Pensional, en los términos de los artículos 1 de la 1450 de 2011 y 111 de la Ley 1769 de 2015.
                    .hrbp.mt-4 
        
        .caja3
            .row.justify-content-center.align-items-center
                .col-2
                    img.img-a(src="assets/images/pages/11-tema/img3.png").img-fluid 
                .col-10
                    h3 Decreto 1047 de 2014 
                    p Por el cual se establecen normas para asegurar la afiliación al Sistema Integral de Seguridad Social de los conductores del servicio público de transporte terrestre automotor individual de pasajeros en vehículos taxi, se reglamentan algunos aspectos del servicio para su operatividad y se dictan otras disposiciones. 
        .header-arrow
            h3.justify-content-center.align-items-center #[strong Capítulo I:] seguridad social para conductores
        .row.justify-content-center.mt-5
            section.pasos-protocolo.my-5.pt-5
                .row.justify-content-center.mt-5
                    .col-12.col-md-4.my-6.my-md-0.mt-5
                        .card.color-2
                            .card-body.text-center(style="min-height: 410px")
                                .avatar.avatar-super.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/11-tema/img4.svg").avatar-img
                                p #[strong Artículo 2° Seguridad social para conductores]
                                .hrbp1
                                p.mt-3 Los conductores de los equipos destinados al Servicio Público de Transporte Terrestre Automotor Individual de Pasajeros en Vehículos Taxi deberán estar afiliados como cotizantes al Sistema de Seguridad Social y no podrán operar sin que se encuentren activos en los sistemas de pensiones, salud y riesgos laborales.

                    .col-12.col-md-4.my-6.my-md-0.mt-5
                        .card.color-2
                            .card-body.text-center(style="min-height: 410px")
                                .avatar.avatar-super.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/11-tema/img5.svg").avatar-img
                                p #[strong Artículo 3° Normativa aplicable y riesgo ocupacional]
                                .hrbp1
                                p.mt-3 El riesgo ocupacional de los conductores, para efectos del Sistema General de Riesgos Laborales, se clasifica en el nivel cuatro (IV).
                    .col-12.col-md-4.mt-6.my-md-0
                        .card.color-2
                            .card-body.text-center(style="min-height: 410px")
                                .avatar.avatar-super.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/11-tema/img6.svg").avatar-img
                                p #[strong Artículo 4°]
                                p #[strong Requisitos]
                                .hrbp1
                                p.mt-3 Se requerirá únicamente el diligenciamiento del formulario físico o electrónico establecido para tal fin en la normativa vigente.
        .row.justify-content-center
            .col-4
                section
                    a(href="http://www.suin-juriscol.gov.co/viewDocument.asp?ruta=Decretos/1214217" target="_blank").media-link.card-color-5          
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h4 Normatividad                                        