.container
    .header-ecored
        h1 13. Carta de derechos de los usuarios. (Resoluciones 1817 de 2009)
    .jumbotron.bg-white
        .sub-ecored.mt-5#11
            h2 13.1 Resolución número 00181 7 de 2009     
        .row.justify-content-center.align-items-center.mt-5  
            .col-8      
                img.img-a(src="assets/images/pages/13-tema/img1.png").img-fluid
                p  Por medio de la cual se definen los lineamientos de la Carta de Derechos de los Afiliados y de los Pacientes en el Sistema General de-Seguridad Social y de la Carta de Desempeño de las entidades promotoras de salud de los regímenes contributivo y subsidiado, y se dictan otras disposiciones.
        .row.justify-content-center.align-items-center.mt-5  
            .col-4       
                section
                    a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/DIJ/Resolucion-1817-de-2009.pdf" target="_blank").media-link.card-color-5          
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h4 Enlace de la normatividad 