.container
    .header-ecored
        h1 14. Instrumentos para garantizar la continuidad del aseguramiento ante los cambios en la condición económica de los afiliados. Protección al cesante
    .jumbotron.bg-white
        .row.justify-content-center.align-items-center.mt-5  
            .col-8      
                p #[strong ¿Qué instrumentos se prevén para garantizar la continuidad del aseguramiento en salud ante los cambios en la condición económica del afiliado, por ejemplo, la pérdida del empleo?]
                p Además de la movilidad, el decreto contempla los siguientes instrumentos para garantizar la continuidad del aseguramiento:
      
        section.pasos-protocolo.my-5.pt-5
            .row.justify-content-center.mt-5
                .col-md-4.my-6.my-md-0
                    .card.color-2(style="min-height: 600px")
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/14-tema/img1.svg").avatar-img                                                                                  
                            h3.mt-5 Período de protección laboral
                            .hrbp1
                            p Durante este periodo la EPS garantiza el cubrimiento de todos los servicios de salud del Plan de Beneficios y no solamente de los tratamientos en curso y urgencias al cotizante y su núcleo familiar, una vez ha finalizado el periodo por el cual se realiza el último pago de la cotización; hasta por un (1) mes más cuando ha estado inscrito y ha cotizado como mínimo durante (12) doce meses o hasta por tres (3) meses si ha permanecido y cotizado de manera continua cinco (5) o más años en la misma EPS.
                            p.mt-2 Si fallece el cotizante, los beneficiarios tienen derecho a todos los servicios de salud por los mismos períodos si el cotizante fallecido tuviere derecho a ellos.
                .col-md-4.my-6.my-md-0
                    .card.color-2(style="min-height: 600px")
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/14-tema/img2.svg").avatar-img                                                     
                            h3.mt-3 Protección en salud a través del mecanismo de protección al cesante
                            .hrbp1
                            p Mediante este mecanismo el trabajador, con cargo al Fondo de Solidaridad de Fomento al Empleo y Protección al Cesante –FOSFEC, recibirá el beneficio del pago de aportes a los Sistemas Generales de Salud y Pensiones sobre un (1) SMMLV, hasta por seis (6) meses, lo que permitirá al afiliado cotizante y a su núcleo familiar mantener la continuidad de la prestación de los servicios que venían recibiendo y las prestaciones económicas por enfermedad general y maternidad establecidas en el SGSSS para el cotizante.
                .col-md-4.my-6.my-md-0
                    .card.color-2(style="min-height: 600px")
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/14-tema/img3.svg").avatar-img                                                      
                            h3.mt-3 Inscripción como beneficiario o afiliado adicional 
                            .hrbp1 
                            p Es la posibilidad de que un afiliado que no se encuentra clasificado en los niveles I y II del -SISBÉN y no reúne las condiciones para cotizar como independiente de mantener su inscripción en una EPS del Régimen Contributivo como beneficiario o como afiliado adicional, si reúne las condiciones para ello. (Ministerio de Salud , s.f.)
        .row.justify-content-center.align-items-center.mt-5  
            .col-5 
                section
                    a(href="https://www.actualicese.com/_ig/img/infografias/mecanismo-proteccion-cesante.jpg" target="_blank" style="min-widht: 400px").media-link.card-color-5         
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h4 Infografía mecanismo de protección al cesante