.container
    .header-ecored
        h1 15. Sistema de identificación de potenciales beneficiarios: Encuesta SISBÉN
    .jumbotron.bg-white
        .sub-ecored.mt-5#11
        .row.justify-content-center.align-items-center.mt-5  
            .col-8
                p.text-center El sistema de identificación y clasificación de potenciales beneficiarios para programas sociales SISBÉN 
                img.img-a(src="assets/images/pages/15-tema/img1.png").img-fluid
        img.img-a.mt-5(src="assets/images/pages/15-tema/img4.png").img-fluid
        .row.justify-content-center.align-items-center.mt-5  
            .col-4      
                section
                    a(href="https://colaboracion.dnp.gov.co/CDT/Conpes/Econ%C3%B3micos/3877.pdf" target="_blank").media-link.card-color-5          
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h4 Conpes 3877 de 2016
            .col-4      
                section
                    a(href="https://guiatramitesyservicios.bogota.gov.co/tramite-servicio/informacion-del-sistema-de-identificacion-y-clasificacion-de-potenciales-beneficiarios-para-programas-sociales" target="_blank").media-link.card-color-5          
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h4 Servicios Bogotá                          