.container
    .header-ecored
        h1 3. Mecanismos y sistemas de financiación del sector salud.
    .jumbotron.bg-white
        .sub-ecored.mt-5#11
            h2 CAPITULO 1
        p.mt-5 FONDO DE SOLIDARIDAD Y GARANTÍA- FOSYGA.
        p El Fondo de Solidaridad y Garantía -FOSYGA- fue creado por el artículo 218 de la Ley 100 de 1993 como una cuenta adscrita al Ministerio de Salud, sin personería jurídica ni planta de personal propia, la cual tiene a cargo los recursos que financien y/o cofinancien el Sistema General de Seguridad Social en Salud -SGSSS-, que se maneja por encargo fiduciario.
        p El #[strong artículo 219] de la #[strong Ley 100] de #[strong 1993] estructuró el fondo con las siguientes cuatro subcuentas independientes:

        .row.justify-content-center.align-items-center.mt-5 
            .col-6
                ol.ul1
                    li #[p Subcuenta de Compensación interna del Régimen Contributivo.]
                    .hrbp.mt-4                
                    li
                        p.mt-4 Subcuenta de Solidaridad del Régimen de Subsidios en Salud.
                    .hrbp.mt-4                
                    li
                        p.mt-4 Subcuenta de Promoción de la Salud.
                    .hrbp.mt-4                
                    li
                        p.mt-4 Subcuenta de Seguro de Riesgos Catastróficos y Accidentes de Tránsito, según el artículo 167 de esta Ley.       
                    .hrbp.mt-4   

                p.mt-5 Posteriormente, mediante el artículo 41 del Decreto Ley 4107 de 2011, se creó la Subcuenta de Garantías para la Salud.
        
        .row.justify-content-center.align-items-center.mt-5  
            .col-3      
                img.img-a(src="assets/images/pages/3-tema/img1.png").img-fluid
            .col-3
                section
                    a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VP/FS/fuentes-y-usos-de-recursos-del-sgsss.pdf" target="_blank").media-link          
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h5  https://www.minsalud.gov.co/ sites/rid/Lists/BibliotecaDigital/ RIDE/VP/FS/fuentes-y-usos-de-recursos-del-sgsss.pdf
 
        p.mt-5 En la página del ministerio de salud y protección social se encuentra toda la información​ requerida sobre el financiamiento del Sistema General de Seguridad Social en Salud (SGSSS), dependiendo el tipo de aseguramiento sea regímenes subsidiado o contributivo.
        .row.justify-content-center.align-items-center.mt-5  
            .col-3         
                section
                    a(href="https://www.minsalud.gov.co/proteccionsocial/Financiamiento/Paginas/home-financiamiento.aspx" target="_blank").media-link.card-color-5          
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h5 Portabilidad
                    