.container
    .header-ecored
        h1 4. Sistema general de participaciones.
    .jumbotron.bg-white 
        p.mt-5 El Sistema General de Participaciones SGP está constituido por los recursos que la Nación transfiere por mandato de los artículos 356 y 357 de la Constitución Política de Colombia a las entidades territoriales, departamentos, distritos y municipios, para la financiación de los servicios a su cargo, en salud, educación y los definidos en el Artículo 76 de la Ley 715 de 2001.

        .d-none.d-lg-block
            img.img-a(src="assets/images/pages/4-tema/img1.png").img-fluid
        .d-lg-none
            .row.justify-content-center.mt-5
                    .col-12.col-md-4.my-6.my-md-0
                        img.img-a(src="assets/images/pages/4-tema/img2.png").img-fluid  
                    
                        img.img-a.mt-5(src="assets/images/pages/4-tema/img3.png").img-fluid          
   
        .row.justify-content-center.mt-5
            .col-6      
                section
                    a(href="https://www.dnp.gov.co/programas/inversiones-y-finanzas-publicas/Paginas/Sistema-General-de-Participaciones---SGP.aspx" target="_blank").media-link.card-color-5(style="min-width: 400px")          
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            p Enlace ministerio
                            h4 #[i https://www.dnp.gov.co/programas/ inversiones-y-finanzas-publicas/Paginas/ Sistema-General-de-Participaciones---SGP.aspx] 