.container
    .header-ecored
        h1 5. Rentas cedidas, impuestos y regalías
    .jumbotron.bg-white
        .sub-ecored.mt-5#11
            h2 5.1 Rentas cedidas
          

        p.mt-4 #[strong LEY 1393 DE 2010] “por la cual se definen rentas de destinación específica para la salud, se adoptan medidas para promover actividades generadoras de recursos para la salud, para evitar la evasión y la elusión de aportes a la salud, se redirecciones recursos al interior del sistema de salud y se dictan otras disposiciones”.

        
        .row.justify-content-center.align-items-center.mt-5  
            .col      
                img.img-a(src="assets/images/pages/5-tema/img1.png").img-fluid
            .col
                section
                    a(href="http://www.secretariasenado.gov.co/senado/basedoc/ley_1393_2010.html" target="_blank").media-link          
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h4 Enlace normatividad 
                          
        
        section.pasos-protocolo.my-5.pt-5
            .row.justify-content-center.mt-5
                .col-md-4.my-6.my-md-0
                    .card.color-2(style="min-height: 360px; min-width: 310px;" )
                        .card-body.text-center      
                            h2.mt-3 Regalías
                            .hrbp1
                            p Participación en los ingresos o cantidad fija que se paga al propietario de un derecho a cambio del permiso para ejercerlo” o lo que es lo mismo, regalía es la contraprestación económica en un porcentaje de los resultados por el uso de la propiedad ajena registrada por otra persona. Por lo tanto, cuando una persona o una empresa explota económicamente el derecho de otra debe pagar regalías. (mytriplea, s.f.)
                .col-md-4.my-6.my-md-0
                    .card.color-2(style="min-height: 360px; min-width: 310px;")
                        .card-body.text-center      
                            h2.mt-3 Impuestos
                            .hrbp1
                            p Son tributos que cada persona, familia o empresa debe pagar al Estado para costear las necesidades colectivas, contribuyendo así con una parte de sus ingresos. Los impuestos son los tributos más importantes, a través de los cuales, se obtiene la mayoría de los ingresos públicos. (reviso, s.f.)

        img.img-a(src="assets/images/pages/5-tema/img2.png").img-fluid

