.container
    .header-ecored
        h1 6. Cuotas de recuperación poblaciones especiales, criterios de priorización y entes certificadores
    .jumbotron.bg-white
        .sub-ecored.mt-5#61
            h2 6.1 Decreto 2357 de 1995, contempla respecto de las cuotas de recuperación, lo siguiente:
        .row.justify-content-center.align-items-center.mt-5
            .col-8  
                p.mt-4 #[strong “Artículo 18. Cuotas de recuperación]. Son los dineros que debe pagar el usuario directamente a las Instituciones Prestadoras de Servicios de Salud en los siguientes casos:
        
        section.pasos-protocolo.my-5.pt-5
            .row.justify-content-center.mt-5
                .col-md-3.my-6.my-md-0
                    .card.color-2(style="min-height: 360px")
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/1-tema/img22.svg").avatar-img                           
                            p.mt-3 Para la población indígena y la indigente no existirán cuotas de recuperación. 

                .col-md-3.my-6.my-md-0
                    .card.color-3(style="min-height: 360px")
                        .card-body.text-center

                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/1-tema/img22.svg").avatar-img                         
                            p.mt-3 La población con capacidad de pago pagará tarifa plena.

                .col-md-3.my-6.my-md-0
                    .card.color-2(style="min-height: 360px")
                        .card-body.text-center

                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/1-tema/img22.svg").avatar-img                          
                            p.mt-3 Para la población identificada en el nivel 3 de SISBEN pagará hasta un máximo del 30 % del valor de los servicios sin exceder el equivalente a tres salarios mínimos legales mensuales vigentes por la atención de un mismo evento.
                .col-md-3.my-6.my-md-0
                    .card.color-3(style="min-height: 360px")
                        .card-body.text-center

                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/1-tema/img22.svg").avatar-img                          
                            p.mt-3 Para la persona afiliada al régimen subsidiado y que reciban atenciones por servicios no incluidas en el POS-S, pagarán de acuerdo con lo establecido en el numeral 2 del presente artículo.
      
        section.pasos-protocolo.my-5.pt-5
            .row.justify-content-center
                .col-md-6.my-6.my-md-0
                    .card.color-2(style="min-height: 320px")
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/1-tema/img22.svg").avatar-img                           
                            p.mt-3 La población no afiliada al régimen subsidiado identificada en el nivel 1 del SISBEN o incluidas en los listados censales pagarán un 5% del valor de los servicios sin exceder el equivalente a un salario mínimo mensual legal vigente por la atención de un mismo evento y en el nivel dos del SISBEN pagarán un 10% del valor de los servicios sin exceder el equivalente a dos salarios mínimos mensuales legales vigentes.
        .row.justify-content-center
            .col-md-6.my-6.my-md-0        
                p.mt-4.text-center El máximo valor autorizado para las cuotas de recuperación se fijará de conformidad con las tarifas SOAT vigentes.    