.container
    .header-ecored
        h1 7. Unidad de Pago por Captación – UPC
    .jumbotron.bg-white
        .row.justify-content-center
            .col-md-6.my-6.my-md-0        
                .quote.my-3
                    .quote__bar
                        .quote__bar__icon
                            img(src="assets/images/pages/ilustraciones/comilla1.svg", alt="").img-icon                 
                        .quote__bar__hr
                    .quote__text
                        p.mb-0 #[i Según el Acuerdo 19 de 2010 "Por el cual se fija el valor de la Unidad de pago por capitación del Plan Obligatorio de Salud de los Regímenes Contributivo y Subsidiado para el año 2011]
                    .quote__bar
                        .quote__bar__hr
                        .quote__bar__icon
                            img(src="assets/images/pages/ilustraciones/comilla2.svg", alt="").img-icon                
       

                    
        
        .row.justify-content-center.mt-4
            .col-md-9.my-6.my-md-0 
                p.mt-3.text-justify La Unidad de pago por capitación #[strong (UPC)] es el valor anual que se reconoce por cada uno de los afiliados al sistema general de seguridad social en salud (SGSSS) para cubrir las prestaciones del Plan Obligatorio de Salud (POS), en los regímenes contributivo y subsidiado.
                
                img.img-a.mt-5(src="assets/images/pages/7-tema/img1.png").img-fluid

        .row.justify-content-center.align-items-center.mt-3
            .col-4
                section
                    a(href="https://www.minsalud.gov.co/salud/POS/Paginas/unidad-de-pago-por-capitacion-upc.aspx" target="_blank").media-link.card-color-5        
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h4 Enlace del ministerio de salud
                            

        
        section.pasos-protocolo.my-5.pt-5
            .row.justify-content-center.mt-5
                .col-md-4.my-6.my-md-0
                    .card.color-2(style="min-height: 445px")
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/7-tema/img2.svg").avatar-img                           
                            h3.mt-3 UPC-S
                            .hrbp1
                            p.mt-3.text-justify La UPC-Subsidiada, UPC-S, es el valor reconocido para cubrir el POS subsidiado y también es referida como UPC o subsidio plenos. Ese valor es definido actualmente por la Comisión de Regulación en Salud-CRES (salud m. d., s.f.)  

                .col-md-4.my-6.my-md-0
                    .card.color-2(style="min-height: 445px")
                        .card-body.text-center

                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/7-tema/img3.svg").avatar-img                         
                            h3.mt-3  La UPC adicional
                            .hrbp1
                            p.mt-3.text-justify La UPC-adicional es una prima o valor adicional reconocido por la CRES a diversas zonas geográficas por concepto de dispersión geográfica. Es decir, un valor aplicable para las áreas de algunos departamentos en los cuales hay una menor densidad poblacional, que a su vez puede representar un mayor gasto por los sobrecostos de atención en salud derivados entre otros del transporte de pacientes.

                .col-md-4.my-6.my-md-0
                    .card.color-2(style="min-height: 445px")
                        .card-body.text-center

                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/7-tema/img4.svg").avatar-img                          
                            h3.mt-3 La UPC-S diferencial
                            .hrbp1
                            p.mt-3.text-justify Aplicable para las zonas geográficas que presenten mayor siniestralidad respecto del resto de municipios del país. Se aplica por zona geográfica a los municipios conurbados, es decir aquellos próximos a centros urbanos.

        .row.justify-content-center.my-2.mt-5    
            .col-8.col-md-8
                .card-media.color-2
                    .card-media__body                 
                        figure.card__figure1
                            img(src="assets/images/pages/1-tema/img16.svg").img-fluid
                        p.card__copy Señores aprendices, en el siguiente video les darán a conocer cuál es la diferencia entre las UPC.
            .col-4
       
        .card.mt-5
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5Q61qeZwx-Y', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
                p #[strong  Diferencias en la UPC] | Sabe usted ¿cuál es la diferencia entre Unidad de pago por capitación  y Unidad de pago por capitación adicional? #DescubraPalabras con la Supersalud.                             


