.container
    .header-ecored
        h1 8. Tipos de aseguramiento: - régimen contributivo, - régimen subsidiado, - régimen especial - régimen de excepción..
    .jumbotron.bg-white
        .sub-ecored.mt-5#11
            h2 8.1 Régimen de excepción
        p.mt-5 De acuerdo con el #[strong artículo 14 del Decreto 1703 de 6 agosto de 2002,] sobre Regímenes de Excepción, establece que cuando una persona afiliada como cotizante o beneficiario a un régimen de excepción tenga una relación laboral o ingresos adicionales sobre los cuales esté obligado a cotizar al Sistema General de Seguridad Social en Salud, su empleador o administrador de pensiones, o ella misma o su contratante si se trata de un trabajador independiente, deberán efectuar la respectiva cotización al #[strong ADRES] en los mecanismos que para tal efecto defina el Ministerio de Salud. (aportesenlinea, 2018)
        p Los aportes a Régimen de Excepción más frecuentes son: El Fondo de Prestaciones Sociales del Magisterio, las Universidades Públicas que se acogieron a la ley 647 de 2001, las Fuerzas Militares y Policía Nacional y (aportesenlinea, 2018)
        p De acuerdo con lo dispuesto en el Decreto 057 de 2015 emitido por el Ministerio de Salud y Protección Social, las personas que se encuentren con vinculación vigente en cualquiera de los Regímenes Especial o de Excepción:

       
        section.pasos-protocolo.my-5.pt-5
            .row.justify-content-center.mt-5
                .col-md-4.my-6.my-md-0
                    .card-color-5(style="min-height: 60px")
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/8-tema/img1.svg").avatar-img                                                      
                            .hrbp1
                            h3.mt-3 Policía Nacional

                .col-md-4.my-6.my-md-0
                    .card-color-5(style="min-height: 60px")
                        .card-body.text-center

                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/8-tema/img2.svg").avatar-img                         
                            .hrbp1
                            h3.mt-3 Fuerzas Militares de Colombia

                .col-md-4.my-6.my-md-0
                    .card-color-5(style="min-height: 60px")
                        .card-body.text-center

                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/8-tema/img3.svg").avatar-img                          
                            .hrbp1
                            h3.mt-3 ECOPETROL
      
        section.pasos-protocolo.my-5.pt-5
            .row.justify-content-center.mt-5
                .col-md-4.my-6.my-md-0
                    .card-color-5(style="min-height: 60px")
                        .card-body.text-center
                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/8-tema/img4.svg").avatar-img                                                      
                            .hrbp1
                            h3.mt-3 Fondo de Prestaciones Sociales del Magisterio

                .col-md-4.my-6.my-md-0
                    .card-color-5(style="min-height: 60px")
                        .card-body.text-center

                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/8-tema/img5.svg").avatar-img                         
                            .hrbp1
                            h3.mt-3 Universidades públicas que se acogieron a la Ley 647 de 2001
        .row.justify-content-center.my-2.mt-5    
            .col-8.col-md-8 
                h1.mt-5.text-center Régimen de excepción en salud                           
                p.mt-1.text-center El siguiente video te da una breve explicación de cómo manejar el proceso de ingreso a una institución a laborar cuando se es del régimen de excepción. 

        .card.mt-5
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/CvAJ_20H--c', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
                p #[strong  Régimen de excepción en salud] | Si quiere conocer más de este tema no olvide ingresar a:https://accolombianlawyers.com/noticia
       
        .row.justify-content-center.my-2.mt-5    
            .col-8.col-md-8                            
                p.mt-5.text-center En la siguiente presentación le indican quien conforma el régimen de excepción, con qué beneficios cuenta, el plan de atención que tiene para sus afiliados  

            section
                a(href="https://prezi.com/hmctgdxoeq_1/regimen-de-excepcion-y-especial-en-salud/" target="_blank").media-link          
                    img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                    .media-link-title
                        h4  https://prezi.com/hmctgdxoeq_1/regimen-de-excepcion-y-especial-en-salud/  

        section.pasos-protocolo.my-5.pt-5
            .row.justify-content-center.mt-4
                .col-md-9.my-6.my-md-0
                    .card.color-2(style="min-height: 60px")
                        .card-body.text-center
                            h1 LEY 352 DE 1997 
                            h1 Diario Oficial No. 42.965 de 23 de enero de 1997                                                      
                            .quote__bar__hr
                            p.mt-3 Por la cual se reestructura el Sistema de Salud y se dictan otras disposiciones en materia de Seguridad Social para las Fuerzas Militares y la Policía Nacional.
                            section
                                a(href="http://www.secretariasenado.gov.co/senado/basedoc/ley_0352_1997.html" target="_blank").media-link          
                                    img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                                    .media-link-title
                                        h4 Normatividad
                                        p  http://www.secretariasenado.gov.co/senado/basedoc/ley_0352_1997.html 

