.container
    .header-ecored
        h1 9. Formulario único de afiliación y registro de novedades al sistema general de seguridad social en salud
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/9-tema/img1.svg").img-fluid 
        .row.justify-content-center.align-items-center.mt-5  
                   
            .col-5
                p.text-center #[strong Resolución 9 7 4 DE 2016] Por la cual se adopta el Formulario Único de Afiliación y Registro de Novedades al Sistema General de Seguridad Social en Salud.  
        .row.justify-content-center.align-items-center.mt-5
            .col
                p El formulario único de afiliación contiene los datos organizados de una manera secuencial, donde le facilita al afiliado su correcto diligenciamiento.
                p Este formato cuenta con un instructivo que permite el adecuado trámite de la afiliación y de las novedades según necesite el usuario. 
            .col
            
                section
                    a(href="https://ursos-del-sgsss.pdf" target="_blank").media-link          
                        img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon
                        .media-link-title
                            h3  Anexo 1.
                            p formulario único de afiliación
        hr
        
        .row.justify-content-center.align-items-center.mt-5
            .col-4    
                section
                    a(href="https://www.minsalud.gov.co/Normatividad_Nuevo/Resoluci%C3%B3n%200974%20de%202016.pdf" target="_blank").media-link.card-color-5          
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h4 Enlace de la normatividad 
                           
            .col-4    
                section
                    a(href="https://www.capitalsalud.gov.co/sites/default/files/archivos_varios/F_unico_afiliacion_res_0974-A.pdf" target="_blank").media-link.card-color-5          
                        img(src="assets/images/pages/ilustraciones/iconwww.svg", alt="").media-link-icon
                        .media-link-title
                            h4 Enlace formulario 
                           
        .row.justify-content-center.align-items-center.mt-5
            .col-md-9    
                p.text-center #[strong Formulario Único de Afiliación y Registro de Novedades al Sistema General de Seguridad Social en Salud (Resolución 974 de 2016)] en este enlace podrás visualizar la manera como se diligencia el formulario.
        .card.mt-5
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/q43-Ikty2E4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
                p #[strong RESOLUCION 974 DE 2016] | Recorded with https://screencast-o-matic.com


                                                                                                               