include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Aportesenlinea. (05 de 10 de 2018). aportesenlinea.custhelp.com/. Obtenido de Regimen de Excepción en Salud:", "http://aportesenlinea.custhelp.com/app/answers/detail/a_id/39/~/regimen-de-excepci%C3%B3n-en-salud")
        +referenciaItem("Departamento nacional de planeacion. (s.f.). sisben.gov.co. Obtenido de Cómo se obtiene el puntaje del Sisbén:", "https://www.sisben.gov.co/sisben/paginas/que-es.aspx")
        +referenciaItem("Ministerio de salud. (2014). minsalud.gov.co. Obtenido de Aseguramiento al Sistema general de seguridad social en salud:", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VP/DOA/RL/cartillas-de-aseguramiento-al-sistema-general-de-seguridad-social-en-salud.pdf")
        +referenciaItem("Ministerio de salud. (s.f.). minsalud.gov.co. Obtenido de Instrumentos para garantizar continuidad del aseguramiento ante los cambios en la condición económica del afiliado:", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/COM/abece-afiliacion-salud.pdf")
        +referenciaItem("Mytriplea. (s.f.). mytriplea.com. Recuperado de Regalías:", "https://www.mytriplea.com/diccionario-financiero/regalias/#:~:text=Seg%C3%BAn%20la%20RAE%2C%20el%20t%C3%A9rmino,la%20propiedad%20ajena%20registrada%20por")
        +referenciaItem("Reviso. (s.f.). reviso.com. Recuperado de Qué son los impuestos:", "https://www.reviso.com/es/que-son-los-impuestos/")
        +referenciaItem("Salud, M. d. (s.f.). minsalud . Recuperado de Sistema de Afiliación Transaccional (SAT):", "https://www.minsalud.gov.co/proteccionsocial/Paginas/afiliacion-transaccional-sat.aspx")
        +referenciaItem("Secretaria de salud . (s.f.). saludcapital.gov.co. Recuperado de Sistema ​de Afiliación Transaccional:", "http://www.saludcapital.gov.co/Paginas2/Sistema-de-Afiliaci%C3%B3n-Transaccional.aspx")
        +referenciaItem("Social, M. d. (s.f.). .minsalud.gov.co. Obtenido de Plan de Beneficios en Salud:", "https://www.minsalud.gov.co/salud/POS/Paginas/plan-obligatorio-de-salud-pos.aspx")
        +referenciaItem("Social, M. d. (15 de 07 de 2004). .saludcolombia.com. Recuperado de DECRETO 2280 de 2004:", "http://www.saludcolombia.com/actual/htmlnormas/Dec%202280_04.htm")
        +referenciaItem("Social, M. d. (s.f.). https://www.minsalud.gov.co/. Recuperado de Movilidad:", "https://www.minsalud.gov.co/proteccionsocial/Paginas/movilidad-entre-regimenes.aspx#:~:text=La%20movilidad%2C%20es%20un%20mecanismo,EPS%20la%20novedad%20de%20movilidad.")
        +referenciaItem("Social, M. d. (s.f.). mi nsalud.gov.co. Recuperado de Portabilidad:", "https://www.minsalud.gov.co/proteccionsocial/Paginas/portabilidad-en-atencion-en-salud.aspx")
        +referenciaItem("Social, M. d. (s.f.). minsalud. Recuperado de Plan obligatorio de salud: ", "https://www.minsalud.gov.co/proteccionsocial/Paginas/pos.aspx")
        +referenciaItem("Social, M. d. (s.f.). minsalud. Recuperado de Régimen Subsidiado:", "https://www.minsalud.gov.co/salud/Paginas/RégimenSubsidiado.aspx")
        +referenciaItem("Social, M. d. (s.f.). minsalud.gob.co. Recuperado de Régimen contributivo:", "https://www.minsalud.gov.co/proteccionsocial/Regimencontributivo/Paginas/regimen-contributivo.aspx#:~:text=El%20r%C3%A9gimen%20contributivo%20es%20un,por%20el%20afiliado%20o%20en")
        +referenciaItem("Social, M. d. (s.f.). minsalud.gov.co. Recuperado de Afiliación en salud:", "https://www.minsalud.gov.co/proteccionsocial/Paginas/afiliacion-en-salud.aspx")
        +referenciaItem("Social, M. d. (s.f.). minsalud.gov.co. Recuperado de Caracterización de la población afiliada a las Entidades Administradoras de Planes de Beneficios (EAPB):", "https://www.minsalud.gov.co/salud/publica/epidemiologia/Paginas/caracterizacion-de-la-poblacion-afiliada-a-las-EAPB.aspx")
        +referenciaItem("SOS Servicio Occidental de Salud. (s.f.). sos.com.co. Obtenido de Incapacidades y licencias:", "https://www.sos.com.co/wps/portal/sitio-internet/afiliados/incapacidades-licencias/incapacidades-licencias/!ut/p/b1/jZDLcoIwAEW_hQ_QhPAKS0xAfERFkEc2DAi1SDEZtWL9-tqu2nH6uLs7c-7iHsBBCvihuDS74tyIQ_Hy0bmZq9hHhucjiG2PQCeI9XhGFohRdAeyrwAkIYbOWAsYMXWIVfN_e_hDHPj")
       



        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            